body {
    background-color: greenyellow;
}
header {
    background-color: rgb(10, 10, 66);
    padding: 25px 0;
}
.menu ul {
    list-style: none;
    text-align: right;
    margin: 0;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}
.menu ul li{
    display: inline;
    margin-right: 20px;
}
.imagem_principal img{
    display: block;
    margin: auto;
    width: 500px;
    height: 200px;
}
.regioesNNCO{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.regioesNNCO img{
    width: 350px;
    height: 300px;
    margin-top: 30px;
}
.regioescima{
    text-align: center;
}
.regioesSS{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.regioesSS img{
    width: 350px;
    height: 300px;
    margin-top: 30px;
}
.regioesbaixo{
    text-align: center;
}
aside{
    position: absolute;
    top: 100px;
    right: 9px;
}
.caixa-login{
    background-color: rgb(10, 10, 66);
    padding: 5px;
    width: 200px;
}
.botao{
    margin-top: 15px;
    margin-bottom: 5px;
}
.titulo{
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}
input{
    background-color: greenyellow;
}